@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Poppins" rel="stylesheet');
$backgroundColor: #FFFFFF;
$primaryColor: #E7CDCC;
$secondaryColor: #E3DFD8;
$primaryTextColor: #5E5A53;
$SecondaryTextColor: #FFFFFF;
$primaryFont: 'Abril Fatface';
$secondaryFont: 'Montserrat';
