@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '../Components/About/about';
@import '../Components/Footer/footer';
@import '../Components//Nav/navbar';

body {
  background-color: $backgroundColor;
  font-family: $secondaryFont;
  color: $primaryTextColor;
  width: 75%;
  margin: auto;
  font-weight: lighter;
}