@import '../../styles/variables';

#about-page {
    margin: auto;
    display: grid;
    justify-content: center;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "intro intro"
        "headshot blurb";
}

#intro {
    grid-area: intro;
    justify-self: center;
    background-color: $primaryColor;
    color: $secondaryTextColor;
    width: 100%;
    text-align: center;
}

.heading {
    font-family: $primaryFont;
    padding-top: 5px;
    font-size: 46px;
    margin: 0px;
}

.title {
    font-size: 24px;
    margin: 0px;
    padding-bottom: 10px;
}

#headshot {
    grid-area: headshot;
    width: 65%;
    border-radius: 100%;
    max-width: 250px;
}

#about-me-blurb {
    grid-area: blurb;
    text-align: center;
    padding-right: 50px;
}

#headshot, #about-me-blurb {
    margin-top: 75px;
    justify-self: center;
    align-self: center;
}

