.submit-button {
    color: $backgroundColor;
    font-size: 16px;
    font-family: $secondaryFont;
    font-weight: normal;
    border: 1px solid $primaryColor;
    background-color: $primaryColor;
    padding: 5px 10px;
}

.submit-button:hover {
    color: $primaryTextColor;
    background-color: $primaryColor;
}